<a href="https://colab.research.google.com/github/LucasColas/Machine-Learning-APS-Failure-at-Scania-Trucks/blob/main/Machine_Learning_Scania_Trucks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Implementation of KMeans

### Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.io import loadmat

### Dataset

This database contains the component measurements for the APS of Scania trucks.

In [3]:
from google.colab import drive 
drive.mount('/content/drive') #My dataset is in my Google Drive

Mounted at /content/drive

In [5]:
Dataset = loadmat('/content/drive/My Drive/Machine Learning/scaniaTrucks_data.mat')

In [8]:
Dataset.keys()

dict_keys(['__header__', '__version__', '__globals__', 'K', 'X', 'YR', 'None', '__function_workspace__'])

In [11]:
Dataset['YR']

array([[1],
       [1],
       [1],
       ...,
       [1],
       [1],
       [1]], dtype=uint8)

In [12]:
Xdf = pd.DataFrame(Dataset['X'])
print(Xdf)

           0    1     2    3    4    5      6        7          8    \
0      76698.0  0.0   0.0  0.0  0.0  0.0    0.0  37250.0  1432864.0
1      33058.0  0.0   0.0  0.0  0.0  0.0    0.0  18254.0   653294.0
2      41040.0  0.0   0.0  0.0  0.0  0.0    0.0   1648.0   370592.0
3         12.0  0.0  10.0  0.0  0.0  0.0  318.0   2212.0     3232.0
4      60874.0  0.0   0.0  0.0  0.0  0.0    0.0  43752.0  1966618.0
...        ...  ...   ...  ...  ...  ...    ...      ...        ...
69304  81852.0  0.0   0.0  0.0  0.0  0.0    0.0   5486.0   704012.0
69305     18.0  8.0  26.0  0.0  0.0  0.0    0.0   6444.0     3308.0
69306  79636.0  0.0   0.0  0.0  0.0  0.0    0.0  15062.0  1991298.0
69307    110.0  0.0   0.0  0.0  0.0  0.0    0.0    198.0     3730.0
69308      8.0  2.0   2.0  0.0  0.0  0.0    0.0   1350.0     3328.0

             9    ...        120       121       122       123       124  \
0      3664156.0  ...  1240520.0  493384.0  721044.0  469792.0  339156.0
1      1720800.0  ...   421400.0  178064.0  293306.0  245416.0  133654.0
2      1883374.0  ...   277378.0  159812.0  423992.0  409564.0  320746.0
3         1872.0  ...      240.0      46.0      58.0      44.0      10.0
4      1800340.0  ...   622012.0  229790.0  405298.0  347188.0  286954.0
...          ...  ...        ...       ...       ...       ...       ...
69304  3220278.0  ...   632658.0  273242.0  510354.0  373918.0  349840.0
69305     2720.0  ...      266.0      44.0      46.0      14.0       2.0
69306  2768440.0  ...   806832.0  449962.0  778826.0  581558.0  375498.0
69307    27418.0  ...      588.0     210.0     180.0     544.0    1004.0
69308     1126.0  ...       46.0      10.0      48.0      14.0      42.0

            125       126      127  128   129
0      157956.0   73224.0      0.0  0.0   0.0
1       81140.0   97576.0   1500.0  0.0   0.0
2      158022.0   95128.0    514.0  0.0   0.0
3           0.0       0.0      0.0  4.0  32.0
4      311560.0  433954.0   1218.0  0.0   0.0
...         ...       ...      ...  ...   ...
69304  317840.0  960024.0  25566.0  0.0   0.0
69305       0.0       0.0      0.0  0.0   0.0
69306  222866.0  358934.0  19548.0  0.0   0.0
69307    1338.0      74.0      0.0  0.0   0.0
69308      46.0       0.0      0.0  0.0   0.0

[69309 rows x 130 columns]

In [13]:
Xall = np.array(Xdf)

X = Xall[np.random.choice(range(Xall.shape[0]), 5000, replace=False),:]
print(X.shape)

(1000, 130)

In [15]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
0,35294.0,0.0,0.0,0.0,0.0,0.0,81792.0,1505336.0,378136.0,10096.0,...,134374.0,54886.0,221294.0,83480.0,153780.0,844106.0,18348.0,0.0,0.0,0.0
1,38258.0,0.0,0.0,0.0,0.0,0.0,0.0,2178.0,628224.0,1843956.0,...,292096.0,135482.0,273222.0,240502.0,191574.0,162072.0,312376.0,16112.0,0.0,0.0
2,161528.0,0.0,0.0,0.0,0.0,0.0,0.0,223684.0,3074966.0,6149650.0,...,1304986.0,734720.0,1739456.0,1504928.0,962888.0,460748.0,513950.0,6046.0,0.0,0.0
3,52336.0,0.0,0.0,0.0,0.0,0.0,0.0,4766.0,1084514.0,2130936.0,...,503788.0,234788.0,501396.0,431452.0,328948.0,159682.0,176548.0,9612.0,0.0,0.0
4,10588.0,0.0,0.0,0.0,0.0,734.0,21548.0,117908.0,457042.0,134228.0,...,289744.0,238640.0,63870.0,10982.0,3850.0,1816.0,1310.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,212800.0,0.0,0.0,0.0,0.0,0.0,385874.0,5129594.0,4543322.0,2701660.0,...,1293016.0,686610.0,1220906.0,813982.0,1823454.0,3423508.0,29188.0,0.0,0.0,0.0
996,13154.0,0.0,0.0,0.0,0.0,0.0,0.0,1474.0,344724.0,547796.0,...,76584.0,24800.0,45778.0,85328.0,20440.0,22748.0,155180.0,63338.0,0.0,0.0
997,8.0,0.0,0.0,0.0,0.0,0.0,0.0,3862.0,1590.0,1964.0,...,46.0,16.0,28.0,56.0,12.0,0.0,0.0,0.0,0.0,0.0
998,78.0,0.0,0.0,0.0,0.0,0.0,0.0,17662.0,21546.0,4800.0,...,2060.0,546.0,464.0,110.0,120.0,58.0,0.0,0.0,0.0,0.0
999,10.0,0.0,0.0,0.0,0.0,0.0,0.0,1470.0,1730.0,2910.0,...,50.0,14.0,30.0,24.0,16.0,64.0,0.0,0.0,0.0,0.0